.latest_news {
    color: blue;
    padding-left: 3vw;
}

.navbar_background {
    background: url(images/nav2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
}

.aboutme {
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
}

.profile_image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: 2s appear 0s 1;
}

.lobster_text {
    font-family: 'Lobster', cursive;
    animation: 2s appear 0s 1;
}

a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
}

.education {
    padding-left: 2vw;
    padding-right: 2vw;
}

footer {
    background: url(images/nav2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 3vh;
  margin-bottom: 0;
  bottom: 0;
}


/* Animations */
@keyframes appear {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
}






