body {
    background: url('images/bg1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.latest_news {
    color: blue;
    padding-left: 3vw;
}

.aboutme {
    padding-left: 2vw;
    padding-right: 2vw;
}


